@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: lato, sans-serif;
}

.mobile-menu {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100vh;
  left: 0;
  display: none;
  background-color: rgb(221 70 46 / 88%);
  backdrop-filter: blur(7px);
  animation-name: animatemobilebackground;
  animation-duration: 0.8s;
}

@keyframes animatemobilebackground {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0%;
    opacity: 1;
  }
}

.mobile-menu-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 18%;
  left: 20%;
}

.mobile-menu-item {
  color: #d3d3d3;
  font-weight: 800;
  font-size: 43px;
  margin-bottom: 25px;
}

.mobile-menu-item a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.close-button {
  position: absolute;
  width: 50px;
  top: 3%;
  right: 6%;
  filter: grayscale(100%);
}

li.finalist.d-none {
  display: none;
}

button.finalist-button.button-display {
  display: none;
}

button.less-finalist-button.d-none {
  display: none;
}

.top-nav {
  display: none;
}

.bottom-nav {
  display: none;
}

header {
  background-image: url("./images/hero.png");
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  height: auto;
}

.hamburger {
  margin-top: 3%;
  margin-left: 5%;
}

.hero {
  padding-left: 5%;
  padding-top: 15%;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
}

.intro {
  font-weight: 500;
  margin-bottom: 2%;
  font-size: 20px;
}

.main-heading {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 4%;
}

.description {
  border: 3px solid white;
  padding: 3%;
  margin-bottom: 3%;
  line-height: 25px;
  color: #545454;
}

.date {
  color: #545454;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 3%;
}

.location {
  margin-bottom: 15%;
  color: #545454;
  font-size: 20px;
  font-weight: 500;
}

.hero h3,
h1 {
  color: #ec5242;
  background: linear-gradient(to right, #ec5242 20%, #272a31 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-active {
  color: #ec5242;
}

.main-progam {
  background-image: url("./images/program.png");
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  height: auto;
  padding-bottom: 35px;
}

.main-progam .program-heading {
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 3%;
}

.main-progam hr {
  width: 10%;
  height: 1px;
  border: none;
  margin: 0 auto;
  background-color: #ec5242;
}

.program-list {
  margin: 6% 2%;
  display: flex;
  flex-direction: column;
}

.program-item {
  background-color: #ffffff2b;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 4px;
  width: 100%;
}

.program-image {
  margin-right: 10px;
  width: 15%;
}

.project-title {
  color: #ec5242;
  margin-right: 10px;
  font-size: 20px;
  width: 25%;
  text-align: center;
}

.program-detail {
  color: #fff;
  width: 60%;
  line-height: 20px;
  font-size: 15px;
  font-weight: 550;
}

.link-container {
  color: #fff;
  text-align: center;
  padding: 10px;
  background-color: #ec5242;
  margin-left: 35px;
  margin-right: 35px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.link-container p {
  text-align: center;
  padding: 20px 10px;
  font-weight: 500;
  font-size: 23px;
}

.contestants {
  padding: 10% 5%;
}

.contestants .program-heading {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.contestants .program-underline {
  width: 10%;
  height: 1px;
  border: none;
  margin: 0 auto;
  background-color: #ec5242;
}

.finalists {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
}

.finalist {
  margin-top: 0;
  margin-bottom: 6%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.images {
  flex: 0 0 auto;
  position: relative;
}

.finalist-image {
  height: 125px;
  width: 125px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  left: 20px;
}

.checker-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
  position: absolute;
}

.finalist-detail {
  flex: 1 1 auto;
  margin-left: calc(20px + 70px + 20px);
}

.finalist-detail .name {
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 40%;
}

.specalty {
  color: #ec5242;
  font-style: italic;
  margin-bottom: 10px;
}

.finalist .finalist-detail .detail-line {
  color: #545454;
  width: 12%;
  margin-bottom: 10px;
}

.about-finalist {
  font-weight: 350;
  font-size: 14px;
}

.finalist-button {
  background-color: transparent;
  width: 100%;
  padding: 20px;
  border: 1px solid #d3d3d3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.finalist-button img {
  width: 20px;
  margin-left: 10px;
}

.less-finalist-button {
  background-color: transparent;
  width: 100%;
  padding: 20px;
  border: 1px solid #d3d3d3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.less-finalist-button img {
  width: 20px;
  margin-left: 10px;
  transform: rotateX(180deg);
}

.slide-up {
  animation: slideUp 0.5s ease forwards;
}

.slide-down {
  animation: slideDown 0.5s ease forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

.partners {
  display: none;
}

footer {
  display: none;
}

.see-programs {
  display: none;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .hover-card {
    border-radius: 2%;
    padding: 2%;
    height: 300px;
    width: 300px;
    box-shadow: 2px 2px  4px #d3d3d3, -2px -2px 4px #d3d3d3;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: #fff;
  }

  .hover-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
  }

  .hover-text {
    text-align: center;
    line-height: 24px;
    margin-bottom: 4%;
    font-weight: 500;
  }

  .hover-name {
    margin-right: 4%;
  }

  .hover-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  .thumbs {
    display: flex;
    justify-content: space-around;
  }

  .thumb {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }

  .top-nav {
    display: block;
    background-color: #3e3e3e;
  }

  .top-list {
    display: flex;
    justify-content: end;
    padding: 5px 13%;
  }

  .top-item {
    margin-right: 15px;
    color: #fff;
    font-size: 13px;
  }

  .l-margin {
    margin-right: 0;
  }

  .nav-image {
    height: 16px;
    width: 16px;
    filter: brightness(0) invert(1);
  }

  .bottom-nav {
    display: block;
    background-color: #fff;
  }

  .container {
    padding: 0.5% 13%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .b-nav-image {
    height: 45px;
    width: 80px;
  }

  .b-list {
    display: flex;
    align-items: center;
  }

  .b-item {
    margin-right: 18px;
    font-size: 15px;
    color: #545454;
  }

  .b-item a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
  }

  .b-item:hover {
    color: #ec5242;
  }

  .border-item {
    border: 3px solid #ec5242;
    padding: 10px;
  }

  .last {
    white-space: nowrap;
    margin-right: 0;
  }

  .hero {
    padding: 8% 20% 8% 13%;
    display: flex;
    flex-direction: column;
  }

  .intro {
    font-size: 40px;
    margin-bottom: 1%;
  }

  .main-heading {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 2%;
  }

  .description {
    padding: 15px 10px;
    width: 75%;
    margin-bottom: 2%;
  }

  .date {
    font-size: 40px;
    font-weight: 900;
  }

  .location {
    font-weight: 500;
    font-weight: 35px;
  }

  .main-progam .program-heading {
    margin-bottom: 20px;
  }

  .main-progam hr {
    width: 3%;
    height: 1px;
    border: none;
    margin: 0 auto;
    background-color: #ec5242;
  }

  .program-list {
    padding-left: 13%;
    padding-right: 13%;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3%;
  }

  .program-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    padding: 10px;
    margin-right: 5px;
    height: 280px;
    border: 3px solid transparent;
    transition: border-color 0.3s ease;
  }

  .program-item:hover {
    border-color: white;
  }

  .program-image {
    margin: 0;
    width: 30%;
  }

  .project-title {
    margin: 0;
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }

  .program-detail {
    width: 100%;
    font-weight: 500;
    margin-top: 10px;
    line-height: 20px;
  }

  .link-container {
    display: none;
  }

  .see-programs {
    display: flex;
    justify-content: center;
  }

  .see-programs a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    padding-bottom: 2px;
  }

  .contestants {
    padding: 5% 20%;
  }

  .contestants .program-heading {
    margin-bottom: 10px;
  }

  .contestants .program-underline {
    width: 3%;
  }

  .finalists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .finalist {
    width: 45%;
    margin-bottom: 3.5%;
    flex-basis: calc((100% - 25px) / 2);
    position: relative;
  }

  .finalist-button {
    display: none;
  }

  .less-finalist-button {
    display: none;
  }

  .partners {
    display: block;
    background-color: #272a31;
    padding: 6% 15%;
  }

  .p-heading {
    text-align: center;
    font-size: 28px;
    color: #4d4d4d;
    margin-bottom: 20px;
  }

  .partners-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
  }

  .partner {
    width: 12%;
    filter: grayscale(100%);
  }

  .partners hr {
    width: 3%;
    height: 1px;
    border: none;
    margin: 0 auto;
    background-color: #ec5242;
  }

  footer {
    padding: 3% 13% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-image {
    width: 200px;
    height: 100px;
    margin-right: 5%;
  }

  .footer-text {
    display: flex;
    flex-direction: column;
  }

  .top-footer {
    font-weight: 500;
    margin-bottom: 1%;
  }

  .bottom-footer {
    font-weight: 300;
    line-height: 22px;
  }
}

@media (min-width: 1241px) {
  .b-nav-image {
    height: 65px;
    width: 120px;
  }

  .b-list {
    display: flex;
    align-items: center;
  }

  .b-item {
    margin-right: 75px;
    font-size: 20px;
    color: #545454;
  }

  .border-item {
    border: 3px solid #ec5242;
    padding: 10px;
  }

  .last {
    white-space: nowrap;
    margin-right: 0;
  }
}
